.box {
  width: 31%;
  height: 300px;
  margin: 0.5rem;
  float: left;
  text-align: center;
  }

#mother {
  height:300px;
    padding: 10rem;  
  background-color: #0E2E5D;
}

#box2{
  background-color: #CBAA3E;
}

.btn {
  font: 30px impact;
  border: transparent;
  background-color: #0E2E5D;
  padding: 0.5rem;
  
}
#btn2 {
  color: black;
}
#btn2:hover {
  background-color: #0E2E5D;
  color: #CBAA3E;
  transition: 0.5s;
}
#btn1 {
  color: black;
}
#btn1:hover {
  background-color: #0E2E5D;
  color: #176B27;
  transition: 0.5s;
}
#btn3 {
 color:black;
}
#btn3:hover {
  background-color: #0E2E5D;
  color: #BC3939;
  transition: 0.5s;
}
#box1 {
  background-color: #176B27;

}

#box3 {
  background-color: #BC3939;

}
.window {
  width: 20px;
  height: 20px;
  background-color: black;
  margin: 0.5rem;
}
